li{
    list-style-type: none;
}

li a{
    color : #000000;
}

.urlListe{
    background-color: #ffffff;
    border-radius: 20px;
    margin: 0 15px 0 15px;
    overflow: scroll;
}

.addContent{
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px 15px 20px 15px;
    padding:10px 0 20px 10px;
    text-align: center;
}

.addContent p{
    text-decoration: underline;
}

.name{
    margin-right: 20px;
}

.name, .url{
    margin-bottom: 8px;
}

input{
    border-radius: 7px;
}

.submit{
    border: none;
    padding: 5px 10px 5px 10px;
}

.fas{
    margin-left: 10px;
}

.waiting{
    margin-left: 30px;
}