<main>
<app-navbar></app-navbar>

    <div class="addContent">
        <p>Add an URL</p>
        <form (ngSubmit)="onSubmit()">
            <div class="name">
                    <label for="nameInput">Name : </label>
                    <input type="text" id="nameInput" [(ngModel)]="url.name" name="name" required>
            </div>
            <div class="url">
                <label for="urlInput">URL : </label>
                <input type="text" id="urlInput" [(ngModel)]="url.url" name="url">
            </div>
            <input type="submit" value="Save URL" class="submit" required>
        </form>
    </div>

  <div *ngIf="urls?.length > 0;else noUrl" class="urlListe">
    <ul *ngFor="let url of urls">
        <li class="urlItem">{{ url.name }} : <a href="{{ url.url }}" target="_blank">{{ url.url }}</a><i class="fas fa-trash-alt" (click)="deleteUrl($event, url)"></i></li>
    </ul>
  </div>

  <ng-template #noUrl>
    <p class="waiting">Waiting for Urls</p>
  </ng-template>
</main>